.hud {
  .inventory {
    width: 500px;
    height: 300px;
    margin: 10px auto 0px;
    display: none;
    background-color: #CCC;
    opacity: 0.8;

    .item-row {
      width: 100%;
      padding: 3px;
    }

    .search {
      width: 100%;

      .inventory-search {
        width: 100%;
        padding: 3px;
      }
    }
  }
}
