body {
  margin: 0;
  font-family: sans-serif;
}

#main canvas {
  position: absolute;
  z-index: 1;
}

.login-form, .signup-form {
  display: none;
  border: 1px solid #666;
  padding: 10px 5px 5px;
  margin: 20px auto 0;
  width: 500px;
  border-radius: 5px;
}

.player-row {
  border: 1px dotted black;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.canvas.panel {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-shadow: none;
  overflow: hidden;
  line-height: 0;
  z-index: 1;
}

.hud {
  z-index: 2;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  top: 0;
  left: 0;
  border-radius: 0;
  background: transparent;
}
