{{if .isDebug}}
  <link rel="stylesheet/less" type="text/css" href="/static/css/hud.less" />
  <script src="/static/css/less.min.js" type="text/javascript"></script>
{{else}}
  <link rel="stylesheet/css" type="text/css" href="/static/css/hud.css" />
{{end}}

<div class="inventory">
  <div class="search">
    <input class="inventory-search" />
  </div>
  <div class="items">
  </div>
</div>
