<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{.title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    {{if .isDebug}}
      <link rel="stylesheet/less" type="text/css" href="/static/css/styles.less" />
      <script src="/static/css/less.min.js" type="text/javascript"></script>
    {{else}}
      <link rel="stylesheet/css" type="text/css" href="/static/css/styles.css" />
    {{end}}
  </head>
  <body>
    <div class="panel canvas">
      <canvas></canvas>
    </div>

    <form class="panel login-form">
      <div class="form-group">
        <label for="loginUsername">Username:</label>
        <input class="form-control" type="text" id="loginUsername" placeholder="Enter Username" />
      </div>
      <div class="form-group">
        <label for="loginPassword">Password:</label>
        <input class="form-control" type="password" id="loginPassword" placeholder="Enter Password"/>
      </div>
      <button type="submit" class="btn btn-default">Login</button>
      <a href="#" id="signupLink">Sign Up</a>
    </form>

    <form class="panel signup-form">
      <div class="form-group">
        <label for="signupUsername">Username:</label>
        <input class="form-control" type="text" id="signupUsername" placeholder="New Username" />
      </div>
      <div class="form-group">
        <label for="signupEmail">Email:</label>
        <input class="form-control" type="email" id="signupEmail" placeholder="New Email" />
      </div>
      <div class="form-group">
        <label for="signupPassword">Password:</label>
        <input class="form-control" type="password" id="signupPassword" placeholder="Enter Password" />
      </div>
      <div class="form-group">
        <label for="signupConfirmPassword">Confirm Password:</label>
        <input class="form-control" type="password" id="signupConfirmPassword" placeholder="Confirm Password" />
      </div>
      <button type="submit" class="btn btn-default">Sign Up</button>
      <a href="#" id="loginLink">Login</a>
    </form>

    <div class="panel player-select"></div>

    <div class="panel hud"></div>

    <script type="text/template" id="player-select">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          Use Existing Player
          <div class="no-players">
            <em>No players yet.</em>
          </div>
          <div class="player-list">
            <img class="loading-icon" src="/static/img/gears.gif" alt="Loading" />
          </div>
        </div>
        <div class="col-md-5">
          Create New Player
          <form class="new-player-form">
            <div class="form-group">
              <label for="newPlayerName">Name:</label>
              <input class="form-control name" type="text" placeholder="Name" />
            </div>
            <button type="submit" class="btn btn-default">Create</button>
          </form>
        </div>
        <div class="col-md-1"></div>
      </div>
    </script>

    <script type="text/template" id="player-option-view">
      <%- player.name %>
    </script>

    <script src="/static/js/lib/underscore-min.js"></script>
    <script src="/static/js/lib/bytebuffer.min.js"></script>
    <script src="/static/js/lib/protobuf-light.min.js"></script>
    <script src="/static/js/lib/jquery-2.1.4.js"></script>
    <script src="/static/js/lib/pubsub.js"></script>
    <script src="/static/js/lib/backbone-min.js"></script>
    <script src="/static/js/lib/keyboard.min.js"></script>
    <script src="/static/js/proto.js"></script>
    <script src="/static/js/engine.js"></script>
    <script src="/static/js/sandbuilder.js"></script>
    <script>
    $(main);
    </script>
  </body>
</html>
